@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

/* ========== RESET ========== */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

button,
input {
  border: none;
  background: none;
  font: inherit;
  outline: none;
}

button {
  cursor: pointer;
}

img,
span,
i,
data {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

html {
  scroll-behavior: smooth;
}

/* ========== GLOBAL ========== */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  font-family: "Teachers", sans-serif;
  background-color: #f0f0f0;
  color: #333;
}

.container {
  max-width: 400px;
  width: 80%;
  padding: 16px;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.search-box {
  display: flex;
  width: 100%;
  margin-block-end: 10px;
}

#search-input {
  flex: 1;
  padding: 12px 14px;
  background-color: #f0f0f0;
}

#search-btn {
  background-color: coral;
  color: white;
  padding: 12px 16px;
}

.user-list {
  max-height: 300px;
  overflow-x: auto;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #fafafa;
  border-radius: 7px;
  border: 1px solid #eee;
}

.user:not(:last-child) {
  margin-block-end: 8px;
}

.info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.no-users {
  text-align: center;
  color: gray;
  font-style: italic;
}

.more-btn {
  width: 40px;
  height: 40px;
  background-color: coral;
  color: white;
  border-radius: 50%;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay.hidden {
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
}

.overlay-content {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  width: 75%;
  padding: 16px;
  background-color: white;
  border-radius: 10px;
}

.close-btn {
  align-self: flex-end;
  width: 40px;
  height: 40px;
  background-color: #fafafa;
  border-radius: 50%;
  font-size: 20px;
  transition: .3s;
}

.close-btn:hover {
  background-color: #f0f0f0;
}

.overlay-avatar {
  margin: auto;
  margin-block-end: 15px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.overlay-data {
  display: grid;
  gap: 5px;
}

.overlay-data li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 10px;
  border-radius: 5px;
}

.overlay-data li:not(:last-child) {
  border-bottom: 1px solid #eee;
}